Options +FollowSymLinks
#IndexIgnore */*
RewriteEngine on
RewriteBase /

RewriteCond %{REQUEST_URI} ^/admin
RewriteRule ^admin/?(.*) /backend/web/$1

RewriteCond %{REQUEST_URI} ^/api
RewriteCond %{REQUEST_URI} !^/api/web
RewriteRule ^api/?(.*) /api/web/$1

RewriteCond %{REQUEST_URI} !^/(frontend/web|backend/web|api/web|admin|api)
RewriteRule (.*) /frontend/web/$1

RewriteCond %{REQUEST_URI} ^/frontend/web
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /frontend/web/index.php

RewriteCond %{REQUEST_URI} ^/backend/web
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /backend/web/index.php

RewriteCond %{REQUEST_URI} ^/api/web
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /api/web/index.php